.loader {
  background: conic-gradient(white, violet);
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: rotation 2s linear infinite;
}
.loader:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  top: 10%;
  left: 10%;
}
.loader:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: violet;
  border-radius: 50%;
  right: 45%;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
